# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Files created by autogen.sh/configure
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
.deps/
daemon/zvbid.init
depcomp
install-sh
libtool
ltmain.sh
*.m4
missing
po/POTFILES
site_def.h
stamp-h1
zvbi-0.2.pc
zvbi.spec

# vi
.*.swp

# Files created/modified by make
.libs/
*.po~
*.gmo
contrib/x11font
contrib/zvbi-atsc-cc
contrib/zvbi-ntsc-cc
daemon/zvbi-chains
daemon/zvbid
doc/html-build.stamp
doc/html/
examples/network
examples/rawout
examples/wss
po/remove-potcdate.sed
po/stamp-po
po/zvbi.pot
test/caption
test/capture
test/decode
test/explist
test/export
test/glyph
test/osc
test/proxy-test
test/sliced2pes
test/test-vps
test/ttxfilter
test/unicode
